{% load static %}
<footer>

    <img class="logo floatLeft" src="{% static "images/ANU_White.png" %}" alt="anu_logo" height="70"> 
    <img class="logo floatRight" src="{% static "images/Bishop.png" %}" alt="bishop_logo" height="70"> 
    <div class="fttext" > This site was written and designed by Kristine Hardy (kristine.hardy@anu.edu.au) and Mathieu Leclerc (mathieu.leclerc@anu.edu.au).
        Permission to use images from this site, the VIMIPO or kuden databases should be requested from the authors and the slide contributors (generally the Bishop Museum). 
        ANU © 2023. This site was written on the lands of the Ngunnawal and Ngambri.</div>
    

</footer>
