{% extends "base.html" %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "fabrics2/fabrics.css" %}">
  <link rel="stylesheet" href="{% static "fabrics2/header.css" %}">
{% endblock %}

{% block page_title %}
  Kuden Home
{% endblock %}

{% block content %}
  {% include "fabrics2/includes/header.html" %}
  <h1>Pottery Fabric Database</h1>
  <h2>Pacific Petrography</h2>
  <p>Petrography is...Temper is....Pacific islands have different geology so petrography is great.</p>
  <h2>How to use this site</h2>
  <p>This is how you search. </p>
  <h2>How to use Kuden</h2>
  <p>Kuden is an OMERO (add link) implementation, it holds our database of images, including those made with the Axon Scanner. You will need to sign in as user:Guest pwd:Guest. 
 If you reach Kuden from a link here you will be taken straight to the viewer for that image. </p>
 <p>If you are viewing a whole slide image, you can turn the filters shown off and on by the clicking the Red, Green and Blue buttons that match that filter. Remember to click the previous filter off (Red, Green and Blue buttons). You can change the brightness of the image by adjusting the sliders, its strongly advisable to use the same value for the Red, Green and Blue channels. A few slides have an extra scan for PPL on 'over exposed' settings. This is noted (where?). If present this scan should be abover or below the selected one in the thumbnail panel on the left.</p>  
 <p>If you are viewing a non-whole slide image, you can see the XPL version by using the vertical slider on the left. The XPL image will be at the bottom, some image stacks have a middle image which will show the PPL or XPL at a different brightness.</p>  
 <p>If you are viewing a non-whole slide image, you may be able to find other photos of the same sample by clicking on the thumbnails on the left, their names should indicate if they are the same slide.</p>  
<p>To see more information on the slide, go to 'Info' and click on the Image ID number, this should open the main site. If going to the main site directly you may need to change the user (red and grey people icon near the top left) to public-data > All Members. </p>
<p>In the main site you can filter the images or full slides (VIMIPO) by key-value pairs, but you first have to select the folder you wish to search. Then you can 'Add Filter' and filter by keys such as slide id or mineral abundance. </p>

  <h2>Mineral Abundances</h2>
  <p>There are different approaches to classifiying inclusion abundance in fabrics. Kuden characterises mineral and rock abundances by their percentage of the total inclusions, using counts. The values are generally those reported by the publication author (predominantly William Dickinson). However, while Dickinson often reported the
    proportions as a percent of the non-calcareous grains, everything has been standardised to be as a percent of the total. The percentages are from inclusion counts and do not reflect the size of the inclusion (i.e. a large feldspar grain could have been counted with the same consideration as a smaller opaque grain). Depending on your search aims, it may be 
  worth searching using a few different abundances. The following is an example of different calcareous abundances.</p>
  <h3>Very Dominant (70% to 100%)</h3>
  {% include "fabrics2/includes/captionF.html" with sherd="ECA66-7-3" site="Talepakemalai" sample="ECA66_7_3" slide="WD_36_17" num="799" numf="16" extra="Example of 'Very Dominant' calcareous." %} 

  <h3>Major (50% to 70%)</h3>
  {% include "fabrics2/includes/captionF.html" with sherd="ECA90-2-1" site="Talepakemalai" sample="ECA90_2_1" slide="WD_39_17" num="814" numf="25" extra="Example of 'Major' calcareous." %} 

  <h3>Frequent (30% to 50%)</h3>
  {% include "fabrics2/includes/captionF.html" with sherd="UL6" site="Ulong Islet" sample="UL6" slide="WD_12_13" num="1729" numf="177" extra="Example of 'Frequent' calcareous." %} 

  <h3>Common (15% to 30%)</h3>
  {% include "fabrics2/includes/captionF.html" with sherd="DGD223" site="Nissan" sample="DGD223" slide="WD_38_12" num="742" numf="456" extra="Example of 'Common' calcareous." %} 

  <h3>Few (5% to 15%)</h3>
  {% include "fabrics2/includes/captionF.html" with sherd="1595" site="Nukuleka" sample="Nukuleka_1595" slide="WD_89_5" num="1271" numf="270" extra="Example of 'Few' calcareous." %} 

  <h3>Minor (0% to 5%)</h3>
  {% include "fabrics2/includes/captionF.html" with sherd="ECA90-4-9" site="Talepakemalai" sample="ECA90_4_9" slide="WD_39_20" num="816" numf="28" extra="Example of 'Minor' calcareous." %} 

  <figure id="bill"><img src="{% static "images/Dickinson.jpg" %}" alt=Dickinson photo height:"50">
    <figcaption> Bill Dickinson at San Jual River. Photo used with permission from Dickinson Estate.</figcaption>
  </figure>
  <h2>William Dickinson</h2>
  <p>The American geoscientist William (Bill) R. Dickinson (1931-2015) was the leading petrographer for Pacific pottery.  <a href="https://pubs.geoscienceworld.org/gsa/books/book/553/Temper-Sands-in-Prehistoric-Oceanian-Pottery">2006</a> 
    <a href="https://www.geo.arizona.edu/sites/www.geo.arizona.edu/files/WR%20Dickinson%20-%20Nat%20Acad%20Sci%20biography%20-%202016.pdf">tribute</a> 
</p>

  <h2>Adding your images/slides to the database</h2>
  <p>If you have thin-sections or images of a fabric that we have do not have images for we would 
    greatly appreciate you getting in touch. All providers retain reproduction rights for the donated images.</p>
   <p>Contact us at kristine.hardy@anu.edu.au or mathieu.leclerc@anu.edu.au.</p>
  <h2>Requesting removal or alteration of data or images from the database</h2>
  <p>We recognise that many cultures have had their heritage investigated and sampled without their consultation. 
    If you would like any information or images removed from from the database, would like additional acknowledgements, or have found errors in the information, 
    please contact us. Please included the slide id/s (i.e. WD_1_1) in any email with details of requested alterations. 
  </p>
   <p>Contact us at kristine.hardy@anu.edu.au or mathieu.leclerc@anu.edu.au.</p>
   <h2>Reuse of images from the database.</h2>
   <p>Permission to image the thin-sections held by the Bishop Museum was conditional on the requirement that anyone seeking
    to reuse the images from those thin-sections for commercial gain is required to contact them for approval.
    Images are provided under a <a href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons License CC BY-NC </a> which means they can be reused for non-commerical purposes only, as long as attribution is given to the creator of the images 
    (as specified in the kuden figure legend).
    If the slides have a WD_ prefix, please include W. Dickinson and mention that the slides are held at the Bishop Museum, Hawai'i.
   </p>
   <p>If using information from the site please reference the origin report or publication cited. If appropriate cite this
    kuden as:</p>
    <p>Hardy, K. & Leclerc, M. 2023 Kuden: A Pacific Pottery Fabric Database. www.kudenfabrics.anu.edu.au </p>
      <p>and VIMIPO as:</p>
    <p>Hardy, K. & Leclerc, M. 2023 VIMIPO: A Virtual Microscope for Pottery. www.kuden.anu.edu.au 
  </p>
    <p>Contact us at kristine.hardy@anu.edu.au or mathieu.leclerc@anu.edu.au for contact details of the thin-section providers.</p>

<h2 id="ref">References</h2>

<ol class="refer">
  <li><a href="https://pubs.geoscienceworld.org/gsa/books/book/553/Temper-Sands-in-Prehistoric-Oceanian-Pottery"> Dickinson, W.R., 2006, Temper Sands in Prehistoric Oceanian Pottery: Geotectonics, Sedimentology, Petrography, Provenance. Geological Society of America
    Geological Society of America, Volume 406 </a></li>
  <li><a href="https://media.australian.museum/media/Uploads/Journals/17860/1285_complete.pdf"> Dickinson, W.R., 1998, Petrographic temper provinces of prehistoric pottery in Oceania. Records of the Australian Museum 50(3): 263–276. </a></li>
</ol>

  {% include "fabrics2/includes/footer.html" %}
{% endblock %}
