{% extends "base.html" %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "fabrics2/fabrics.css" %}">
  <link rel="stylesheet" href="{% static "fabrics2/header.css" %}">
{% endblock %}

{% block page_title %}
  Site Index
{% endblock %}

{% block content %}
  {% include "fabrics2/includes/header.html" %}
    <ul>
      {% for site in sites %}
         <li><a href="{% url "site-type" site.slug %}">{{ site.name }}</a></li>
      {% endfor %}
    </ul>
{% endblock %}
