@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Padauk&display=swap');

html {
    font-family: 'IBM Plex Sans', sans-serif;
}



p {
    font-size: 1rem;
    font-weight: normal;
    text-align: left;
    color: white;
    margin: 2rem 1rem 1rem 1rem;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: white;
    margin: 2rem 0 1rem 0;
}
h2 {
    font-size: 2rem;
    text-align: left;
    color: antiquewhite;
    font-weight: normal;
    margin: 2rem 2rem 1rem 2rem;
}
