body {
    margin: 0rem 1rem 1rem 1rem;
    background-color: #5f5c5c;
}

.fabrictable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
 .fabrictable td, .fabrictable th {
    padding: 8px;
  }
  
 .fabrictable tr:nth-child(odd){
    border-bottom: 2px solid black;
 } 
  
 .fabrictable td {
  color: antiquewhite;
}
  .fabrictable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #acaead;
    color: rgb(73, 72, 72);
    border: 1px solid #ddd;
  }

  
.fabrictable [data-tag="6"] {

    text-align: center;
    background-color: #a20101;
    color: white;
  }
  .fabrictable [data-tag="5"] {
  
    text-align: center;
    background-color: #cd2f18;
    color: white;
  }
  .fabrictable [data-tag="4"] {
  
    text-align: center;
    background-color: #e35d30;
    color: white;
  }
  .fabrictable [data-tag="3"] {
  
    text-align: center;
    background-color: #db7f3d;
    color: white;
  }
  .fabrictable [data-tag="2"] {
  
    text-align: center;
    background-color: #dbae3d;
    color: white;
  }
  .fabrictable [data-tag="1"] {
  
    text-align: center;
    background-color: #f8e64f;
    color: white;
  }
  .fabrictable [data-tag="0"] {
  
    text-align: center;
    background-color: #ffffcf;
    color: rgb(119, 116, 116);
  }
  


ul {
    list-style: none;
    margin: 2rem auto;
    width: 90%;
    max-width: 20rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    padding: 1rem;
    border-radius: 12px;
    background-color: #f1eeee;
    
}

li{
    margin: 1rem 0;
    text-align: left;
    font-size: 1.5rem;
    border-bottom: 1px solid #2f2e2e;
    padding-bottom: 1rem;

}

li:last-of-type {
    border-bottom: none;
}

li a {
  text-decoration: none;
  color: navy;
}

li a:hover,
li a:active {
  color: purple;
}


a {
    text-decoration: none;
    color: palegoldenrod;
}

a:hover,
a:active {
    color: yellow;
}